name: CI/CD Pipeline

on:
  push:
    tags:
       - "v*"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25"

      - name: Download deps
        run: go mod download

      - name: Build bot
        run: go build -o bot ./cmd/bot

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: bot
          path: bot

  docker:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      contents: read
      packages: write

    steps:
     - uses: actions/checkout@v3

     - name: Log in to GitHUB Registry
       run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

     - name: Build image
       run: docker build -t ghcr.io/${{ env.IMAGE_NAME }}:latest .

     - name: Push image
       run: docker push ghcr.io/${{ env.IMAGE_NAME }}:latest
        

  deploy:
   runs-on: self-hosted
   needs: docker


   steps:
     - name: Fix docker credentials helper
       run: |
         mkdir -p ~/.docker
         echo '{"credsStore":""}' > ~/.docker/config.json

     - name: Log in to GHCR
       uses: docker/login-action@v3
       with:
           registry: ghcr.io
           username: ${{ github.actor }}
           password: ${{ secrets.GHCR_TOKEN }}

     - name: Pull latest image
       run: docker pull ghcr.io/${{ env.IMAGE_NAME }}:latest

     - name: Stop old container
       run: docker stop telegram-bot || true

     - name: Remove old container
       run: docker rm telegram-bot || true

     - name: Run bot
       run: | 
        docker run -d --name telegram-bot \
        -e BOT_TOKEN=${{ secrets.BOT_TOKEN }} \
        --restart unless-stopped \
        ghcr.io/${{ env.IMAGE_NAME }}:latest